:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(255, 255, 255);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.table-responsive {
  height: 600px;
  overflow: scroll;
}
thead tr:nth-child(1) th {
  background: white;
  position: sticky;
  top: -4px;
  z-index: 10;
}
/* Navbar bottom styling */
.navbar-bottom-custom {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.navbar-bottom-custom-item {
  display: flex;
  width: 100%;
  color: var(--material-ui-theme-primary-text) !important;
  flex-direction: column;
  text-align: center;
  height: 100%;
  margin-top: 5px;
  border-right: 1px solid var(--material-ui-theme-primary-text);
  padding: 5px;
  text-decoration: none;
  cursor: pointer;
}

.navbar-bottom-custom-item a {
  color: var(--material-ui-theme-primary-text);
}

.navbar-bottom-custom-container {
  background-color: var(--material-ui-theme-primary-dark);
}

.navbar-bottom-custom-item:hover {
  background-color: var(--material-ui-theme-primary-light);
  text-decoration: none;
  cursor: pointer;
}
